* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 1280px;
}

.wrapper-inner {
  width: 1200px;
  margin: 0 auto;
}

.layout-flex-between {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 5px;
}

.header {
  height: 120px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
}

.header-logo {
  text-align: center;
}

.biggest-title-fonts {
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  letter-spacing: 0.06em;
}

.header-logo-subtitle {
  color: #292929;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  letter-spacing: 0.1em;
  position: relative;
  top: 9px;
}

.header-nav {
  width: 443px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
}

.active {
  border-bottom: 3px solid #F1CDB3;
  position: relative;
  top: 1px;
}

.header-nav-link {
  text-decoration: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #545454;
  height: 21px;
}

.checkbox-toggle {
  font-size: 34px;
}

.checkbox-toggle,
#checkbox-menu {
  display: none;
}

#checkbox-menu:checked + label {
  position: absolute;
  right: 0;
  flex-direction: column;
  width: 100%;
  background: white;
  height: 200px;
  z-index: 2;
}
#checkbox-menu:checked + label .header-nav-link {
  display: block;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 768px;
  }

  .wrapper-inner {
    width: 708px;
  }
}

@media screen and (max-width: 320px) {
  .wrapper {
    width: 320px;
  }
  
  .wrapper-inner {
    width: 300px;
  }

  .header-nav-link {
    display: none;
  }

  .checkbox-toggle {
    display: block;
  }

  .header-nav {
    width: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
  }
}

.main {
  height: 1342px;
  background: #F6F6F6;
}

.pets {
  height: 1162px;
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-pets-title {
  width: 400px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0 auto;
}

.pets .pets-container {
  height: 930px;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  grid-column-gap: 40px;
  padding-top: 27px;
}

.pet-card {
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
  cursor: pointer;
}

.pet-card-photo {
  width: 270px;
  height: 270px;
  border-radius: 9px 9px 0px 0px;
}

.pet-card-name {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  position: relative;
  top: 30px;
}

.pet-card-button {
  width: 187px;
  height: 52px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: #FAFAFA;
  position: relative;
  top: 60px;
  cursor: pointer;
}

.pet-card-button:hover {
  background: #FDDCC4;
}

.katrine {
  background-image: url('../../assets/image/pets-katrine.png');
}

.jennifer {
  background-image: url('../../assets/image/pets-jennifer.png');
}

.woody {
  background-image: url('../../assets/image/pets-woody.png');
}

.sophia {
  background-image: url('../../assets/image/pets-sophia.png');
}

.timmy {
  background-image: url('../../assets/image/pets-timmy.png');
}

.charly {
  background-image: url('../../assets/image/pets-charly.png');
}

.scarlett {
  background-image: url('../../assets/image/pets-scarlet.png');
}

.freddie {
  background-image: url('../../assets/image/pets-freddie.png');
}

.pets-navigation {
  width: 340px;
  height: 52px;
  display: flex;
  justify-content: space-between;
}

.round-button {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: #F6F6F6;
}

.arrows {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #292929;
}

.not-active {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
}

.page-number {
  background: #F1CDB3;
}

@media screen and (max-width: 768px) {

  .main {
    height: 1733px;
  }
  
  .pets {
    top: 60px;
    height: 1603px;
  }

  .pets .pets-container {
    height: 1365px;
    width: 580px;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    padding-top: 40px;
    overflow: hidden;
  }
}

@media screen and (max-width: 320px) {
  .main {
    height: 1630px;
  }
  
  .pets {
    top: 40px;
    height: 1560px;
  }

  .pets .pets-container {
    width: 271px;
    height: 1365px;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    padding-top: 40px;
    overflow: hidden;
  }

  .main-pets-title {
    width: 300px;
    font-size: 25px;
  }

  .pets-navigation {
    width: 300px;
    height: 52px;
  }
}

.footer-screen {
  height: 350px;
  background-image: url('../../assets/image/footer-background.png');
  overflow: hidden;
}

.footer-screen .footer {
  height: 310px;
  padding-top: 57px;
  display: flex;
  justify-content: space-between;
}

.footer-contacts {
  width: 280px;
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-contacts-title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer-contacts-email,
.footer-contacts-phone {
  display: flex;
  align-items: center;
}

.contacts-box {
  width: 40px;
  height: 32px;
  margin-right: 20px;
}

.email {
  background-image: url('../../assets/image/icon-email.svg');
}

.phone {
  background-image: url('../../assets/image/icon-phone.svg');
}

.contacts-text {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.footer-location {
  width: 302px;
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-first-contact {
  display: flex;
  align-items: center;
}

.footer-contact-image1,
.footer-contact-image2 {
  width: 22px;
  height: 32px;
  background-image: url('../../assets/image/pin.png');
  margin-right: 20px;
}

.footer-contact-image1 {
  width: 42px;
}

.location-text {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.footer-image {
  width: 300px;
  height: 310px;
  background-image: url('../../assets/image/footer-puppy.png');
  position: relative;
  bottom: 17px;
}

@media screen and (max-width: 768px) {
  .footer-screen {
    height: 639px;
    background: url('../../assets/image/footer-background.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    background-size: cover;
    position: relative;
  }

  .footer-image {
    position: absolute;
    bottom: 0;
    left: calc(50% - 300px/2);
  }

  .footer-contacts {
    padding-left: 34px;
  }

  .footer-location {
    padding-right: 34px;
  }
}

@media screen and (max-width: 320px) {
  .footer-screen {
    height: 943px;
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  }

  .footer-screen .footer {
    height: 558px;
    flex-direction: column;
    padding-top: 30px;
  }

  .footer-contacts {
    padding-left: 0;
    text-align: center;
    align-self: center;
  }

  .footer-location {
    padding-right: 0;
    text-align: center;
  }
}

.pet-card:hover {
  background: white;
}
