* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1280px;
}

.wrapper-inner {
  width: 1200px;
  margin: 0 auto;
}

.layout-flex-between {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 5px;
}

.header {
  height: 120px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
}

.header-logo {
  text-align: center;
}

.biggest-title-fonts {
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  letter-spacing: 0.06em;
}

.header-logo-subtitle {
  color: #292929;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  letter-spacing: 0.1em;
  position: relative;
  top: 9px;
}

.header-nav {
  width: 443px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
}

.active {
  border-bottom: 3px solid #F1CDB3;
  position: relative;
  top: 1px;
}

.header-nav-link {
  text-decoration: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #545454;
  height: 21px;
}

.checkbox-toggle {
  font-size: 34px;
}

.checkbox-toggle,
#checkbox-menu {
  display: none;
}

#checkbox-menu:checked + label {
  position: absolute;
  right: 0;
  flex-direction: column;
  width: 100%;
  background: #e5e1e1;
}
#checkbox-menu:checked + label .header-nav-link {
  display: block;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 768px;
  }

  .wrapper-inner {
    width: 708px;
  }
}

@media screen and (max-width: 320px) {
  .wrapper {
    width: 320px;
  }
  
  .wrapper-inner {
    width: 300px;
  }

  .header-nav-link {
    display: none;
  }

  .checkbox-toggle {
    display: block;
  }

  .header-nav {
    width: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
  }
}
