* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1280px;
}

.wrapper-inner {
  width: 1200px;
  margin: 0 auto;
}

.start-screen {
  height: 908px;
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background-image: url('../../assets/image/start-screen-background.jpg');
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 60px 0 69px;
}

.header-logo {
  text-align: center;
}

.header-logo-title {
  color: #F1CDB3;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  letter-spacing: 0.06em;
}

.header-logo-subtitle {
  color: #FFFFFF;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  letter-spacing: 0.1em;
  position: relative;
  top: 9px;
}

.header-nav {
  width: 443px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
}

.active {
  border-bottom: 3px solid #F1CDB3;
  position: relative;
  top: 1px;
}

.header-nav-link {
  text-decoration: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #CDCDCD;
  height: 21px;
}

.start-screen-content {
  height: 728px;
  display: flex;
  justify-content: space-between;
}

.start-screen-content-descriptions {
  width: 460px;
  position: relative;
  top: 127px;
}

.start-screen-content-descriptions .title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  color: #FFFFFF;
  width: 310px;
  line-height: 130%;
  margin: 37px 0;
}

.start-screen-content-descriptions .description {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #CDCDCD;
  line-height: 160%;
  margin: 41px 0 41px;
}

.start-screen-content-descriptions .button {
  width: 207px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;

  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: #292929;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
}

.start-screen-content-image {
  width: 698px;
  height: 728px;
  background: url('../../assets/image/start-screen-puppy.png');
}

.about-screen {
  height: 588px;
  display: flex;
  align-items: center;
}

.about-screen .about {
  height: 408px;
  display: flex;
  justify-content: space-evenly;
}

.about .about-pets {
  width: 300px;
  height: 408px;
  background: url('../../assets/image/about-pets.png');
  position: relative;
  top: -10px;
  left: 17px;
}

.about .about-text {
  width: 430px;
  height: 380px;
  position: relative;
  right: 18px;
}

.about-text-title {
  width: 370px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 5px 0;
}

.about-text-first-subtitle,
.about-text-second-subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
  margin: 25px 0;
}

.pets-screen {
  height: 877px;
  background: #F6F6F6;
  display: flex;
  align-items: center;
}

.pets-screen .pets {
  height: 697px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.pets .pets-title {
  width: 400px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  position: relative;
  bottom: 69px;
}

.pets-button {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  width: 261px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  position: relative;
  top: 50px;
}

.pets-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pets-arraw-left {
  background-image: url('../../assets/image/Arrow-left.png');
}

.pets-arraw-right {
  background-image: url('../../assets/image/Arrow-right.png');
}

.pets-arraw-left,
.pets-arraw-right {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: #F6F6F6;
  position: relative;
  bottom: 10px;
}

.pet-card {
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
  position: relative;
  bottom: 10px;
}

.pet-card-photo {
  width: 270px;
  height: 270px;
  border-radius: 9px 9px 0px 0px;
}

.pet-card-name {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  position: relative;
  top: 30px;
}

.pet-card-button {
  width: 187px;
  height: 52px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: #FAFAFA;
  position: relative;
  top: 60px;
}

.katrine {
  background-image: url('../../assets/image/pets-katrine.png');
  background-size: 298px;
  background-position-x: -22px;
  background-position-y: -11px;
}

.jennifer {
  background-image: url('../../assets/image/pets-jennifer.png');
  background-position-x: -13px;
  background-position-y: -9px;
  background-size: 281px;
}

.woody {
  background-image: url('../../assets/image/pets-woody.png');
  background-position-x: -27px;
  background-size: 293px;
  background-position-y: -16px;
}

.help-screen {
  height: 611px;
}

.help-screen .help {
  height: 431px;
  margin-top: 80px;
}

.help .help-title {
  width: 310px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0 auto;
  text-align: center;
}

.help .help-list {
  width: 1026px;
  height: 281px;
  margin: 60px auto;
}

.help-list-one {
  display: grid;
  grid-template-columns: 83px 388px 63px 389px 107px;
  grid-template-rows: 2fr 1fr;
}

.help-list-two {
  display: grid;
  grid-template-columns: 256px 178px 327px 221px;
  margin-top: -2px;
}

.help-list-item {
  height: 113px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.help-item {
  width: 60px;
  height: 60px;
}

.help-text {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.pet-food {
  background-image: url('../../assets/image/icon-pet-food.png');
}

.transportation {
  background-image: url('../../assets/image/icon-transportation.png');
}

.toys {
  background-image: url('../../assets/image/icon-toys.png');
}

.bowls-and-cups {
  background-image: url('../../assets/image/icon-bowls-and-cups.png');
}

.shampoos {
  background-image: url('../../assets/image/icon-shampoos.png');
}

.vitamins {
  background-image: url('../../assets/image/icon-vitamins.png');
}

.medicines {
  background-image: url('../../assets/image/icon-medicines.png');
}

.collars-leashes {
  background-image: url('../../assets/image/icon-collars-leashes.png');
}

.sleeping-areas {
  background-image: url('../../assets/image/icon-sleeping-area.png');
}
